@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700');

/*----------------------------------------Colors*/

.bg-color-name {
    background-color: #fff;
}

.menu-color-home {
    background-color: #e67e22;
}

.menu-color-about {
    background-color: #9b59b6;
}

.menu-color-tour {
    background-color: #3498db;
}

.menu-color-contact {
    background-color: #525252;
}

/*----------------------------------------Header*/

header {
    margin: 0;
}

.heading {
    margin-left: 5%;
}

.name {
    font-family: "Oswald", sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 75px;
    margin-top: 10px;
    text-transform: uppercase;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 108px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 108px;
}

.menuitem a i {
    padding-top: 33px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*----------------------------------------Hover.css*/

.hvr-sweep-to-top:before {
    background: rgba(0, 0, 0, 0.2);
    height: 108px;
}

/*----------------------------------------Whats Going On*/

.section-heading h2 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: #000;
    margin-top: 30px;
    text-transform: uppercase;
}

.feature {
    text-align: center;
    padding: 0px 20px 30px 20px;
}

.feature i {
    font-size: 26px;
    line-height: 26px;
}

.feature .btn {
    background-color: #3498db;
    border-color: #3498db;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #fafafa;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.feature .btn:hover {
    background-color: #525252;
    border-color: #525252;
}

/*----------------------------------------Horizontal Rules*/

.hz-rule {
    width: 90%;
    height: 1px;
    border: 0;
    background-color: #000;
}

/*----------------------------------------About*/

.about-text {
    padding: 0px 20px 30px 20px;
}

/*----------------------------------------Table*/

.tour {
    text-align: center;
}

/*----------------------------------------Contact Form*/

.jezz-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 600px;
}

/*----------------------------------------Footer*/

footer {
    background-color: #fff;
    color: #000;
    min-height: 128px;
    margin: 0;
}

.social-links {
    padding-top: 30px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #e67e22;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background: #9b59b6;
}

.footer-info {
    padding: 20px;
    margin: 0 auto;
    max-width: 260px;
}